
on:
  workflow_dispatch:
    #
  push:
    branches:
    - 'master'

jobs:
  timed_update:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/github-script@v6
        id: run-script
        with:
          script: |
            console.log({github, context})
